.status {
    background: #E0E0E0;
}

.surround {
    background: #F5F5F5;
    box-shadow: 0 0 1px gray;
}

.ambient {
    background: #FAFAFA;
}

.paper {
    background: white;
    box-shadow: 2px 2px 5px 1px gray;
    border-radius: 3px;
    padding: 8px;
    margin-top: 2em;
}

svg text {
    fill: #222;
    stroke: none;
}

.skill-fill {
    stroke: #222;
    fill: #222;
    stroke-width: 1px;
}

.skill-empty {
    stroke: #222;
    fill: none;
    stroke-width: 1px;
}
