@import "foundation.css";

.content {
	background: white;
}

// size //
@content-size: 1020px;
@globe-size: 200px;

#GlobeContainer {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

#GlobeCanvas {
	cursor: hand;
	cursor: pointer;
	user-select: none;
}

.company {
	padding-top: 0.8em;
	padding-bottom: 0.8em;	
}

.highlightable {
	padding: 0.8em;
	margin-right: -2.5em;
	border-right: none;
	border: 1px solid transparent;
}