@import "foundation.css";
body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAMAAACeL25MAAAADFBMVEXn5+fs7Ozw8PDy8vIGEBs9AAAAGUlEQVR42h3BgQ0AAAzCoDr//9lmwIs4UQ0AoAAZ8xr9BgAAAABJRU5ErkJggg==);
}
.content {
  background: white;
}
#GlobeContainer {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}
#GlobeCanvas {
  cursor: hand;
  cursor: pointer;
  user-select: none;
}
#ExpLanguage {
  margin-top: 1.6em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;
}
#ExpDescription {
  margin-top: 1.6em;
}
.skill-cat {
  font-variant: small-caps;
}
.company {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
.skill-cat {
  padding: 0.8em;
  margin-left: -2.5em;
  padding-left: 2.5em;
  border: 1px solid transparent;
}
.highlightable {
  padding: 0.8em;
  margin-right: -2.5em;
  border: 1px solid transparent;
}
/* SVG Styles */
.radar-data {
  fill: rgba(255, 0, 0, 0.3);
  stroke: rgba(255, 0, 0, 0.5);
  stroke-width: 3;
}
.radar-data text {
  fill: rgba(255, 0, 0, 0.5);
  stroke: rgba(255, 0, 0, 0.5);
  stroke-width: 1;
  text-align: center;
  shape-rendering: crisp-edges;
  text-rendering: optimize-legibility;
}
.radar-axis {
  fill: rgba(150, 150, 150, 0.6);
  stroke: rgba(150, 150, 150, 0.6);
  stroke-width: 1;
}
.radar-axis polygon {
  fill: none;
  stroke: rgba(150, 150, 150, 0.1);
  stroke-width: 1;
}
